@import 'node_modules/bulma-slider/dist/css/bulma-slider.min.css';

.page-link {
	border-bottom: 2px solid transparent;
}
.page-link.router-link-exact-active {
	border-bottom: 2px solid orange;
}

/* fixing weired number styling... */
.token.number {
	background-color: inherit;
	display: inherit;
	font-size: inherit;
}